<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      src="public/playground_assets/80365054_210327936653184_2818880131302959045_n-400h.jpg"
      alt="image"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>City Name</span></span>
      <span class="place-card-text1">
        <span>
          The road to our destiny is long.... We all start some where.... But
          this is where MARTIAL starts
        </span>
      </span>
      <div class="outline-button-container">
        <button class="outline-button-button button">
          <span>Discover Music</span>
        </button>
      </div>
    </div>
  </div>
</div>
